%div{ "ng-app" => "channelManagerApp" }
  .channels{ "ng-controller" => "ChannelsController as channelsCtrl" }
    .row
      .col-md-12
        .page-header
          .pull-right
            = link_to '#', class: "btn btn-success btn-lg" do
              = icon("plus")
              Add channel
          %h2 Your devices
    .cards
      .card{ "ng-repeat" => "channel in channels" }
        .row
          .col-md-12
            .panel.panel-primary
              .panel-heading
                %h3.panel-title {{ channel.name }}
              .panel-body.row
                .col-md-4
                  .well
                    %qr-code{ "ng-model" => "channel.subscribe_url" }
                  %p
                    %input.form-control.input-sm{ "ng-value" => "channel.subscribe_url", "readonly" => true }
                .col-md-8{ "ng-controller" => "ChannelController as channelCtrl" }
                  %channel-notification-form
                  %channel-code-examples
